styles.css
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #333;
}

@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css';
/* Header Css */
.left-col, .right-col, .center-col {
  float: left;
  padding: 10px; }

div#leftpane.left-col, div#rightpane.right-col {
  width: 170px;
  padding: 10px; }

div#centerpane.center-col {
  width: 640px;
  padding: 10px; }

div#leftpane.left-col {
  margin-left: 10px; }

#background * {
  box-sizing: border-box; }

#header, #subheader, div.subheader, div.boxtitle, #froocredit, div.boxcontent, div.left-col, div.right-col, div.top-bar, div.footer, #more_items_content, #leftpane, #rightpane, #showcase ul, ul.tablinks, #largeimage, #design, #customhtml, #descriptiontitle, #ImageID {
  display: block; }

.hidden, .mobile_only {
  display: none;
  /* RESET FOR NO SUBS */ }

.frooition-container .header-wrapper, .frooition-container .subheader-wrapper, .frooition-container .left-col, .frooition-container .right-col, .frooition-container .creditlink, .frooition-container .footer-wrapper, .frooition-container .boxcontent, .frooition-container #showcase, .frooition-container #tab1, .frooition-container #descriptiontitle {
  display: block; }

.clear {
  clear: both; }

#background {
  font-size: 10px;
  background-color: #e0e7fb; }

.page {
  width: 100%;
  font-family: Karla, Arial, Helvetica, sans-serif;
  background-image: url("https://cdn.frooition.com/200100/files/background.png"), 
  url("https://cdn.frooition.com/200100/files/background_header.jpg");
  background-repeat: repeat, repeat-x;
  background-position: center top, center top;
  color: #333; }
  .page td, .page .g-std {
    font-family: Karla, Arial, Helvetica, sans-serif; }

.cols {
  background: #fff center center;
  display: flex;
  border-radius: 10px;
  padding: 10px 0 40px;
  box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.3); }

.col-wrapper {
  background: none center center; }

.accent {
  color: #a95fd0; }

div.row {
  width: 1000px;
  margin: auto; }

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  font-family: Karla, Arial, Helvetica, sans-serif; }

.frooition-container .g-novisited a:visited {
  outline: none; }

.frooition-container a {
  text-decoration: none; }
  .frooition-container a:link {
    outline: none; }
  .frooition-container a:visited {
    outline: none; }
  .frooition-container a:active {
    outline: none; }
  .frooition-container a:hover {
    text-decoration: underline;
    outline: none; }
/* https://drive.google.com/uc?id=1FfQ8v5LxaGLxCo_zVxpRoimWRZEsJDjh
https://drive.google.com/uc?export=view&id=1FfQ8v5LxaGLxCo_zVxpRoimWRZEsJDjh */
a.homelink {
  display: block;
  width: 212px;
  height: 190px;
  background: url("bi_mybias_small.png") no-repeat;
  position: absolute;
  top: 28px;
  left: 394px; }

.header-wrapper {
  background: none center bottom; }

div#header {
  float: none;
  position: relative;
  background: none center center;
  height: 246px;
  /* End Header */ }

.subheader-wrapper {
  background: none;
  border: none; }

.subheader {
  position: relative;
  z-index: 10;
  background: none;
  height: 0px; }

ul#nav li {
  display: none; }

.cols ul.categories, .cols .boxlinks {
  font-size: 1.1em;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  list-style: none; }
  .cols ul.categories ul {
    padding: 0px;
    margin: 0px;
    list-style: none; }
  .cols ul.categories li {
    padding: 0px;
    margin: 0px;
    display: block; }
  .cols ul.categories li a, .cols .boxlinks a {
    text-align: left;
    background: none;
    display: block;
    border-top: none;
    border-bottom: none;
    color: #333;
    text-decoration: none;
    padding: 8px 5px;
    width: 100%;
    height: auto; }
    .cols ul.categories li a:hover, .cols .boxlinks a:hover {
      background: #a95fd0;
      color: #fff;
      border-top: none;
      border-bottom: none;
      text-decoration: none; }
    .cols ul.categories li:first-child, .cols .boxlinks:first-child {
      border-top: none; }
    .cols ul.categories li:first-child:hover, .cols .boxlinks:first-child:hover {
      border-top: none; }
  .cols a.sublink {
    padding: 8px 5px 8px 12px;
    color: #333;
    border: none;
    /*&::after {
			content: "\f111";
			font-family: "fontawesome";
			font-size: 5px;
			color: #333;
			position: absolute;
			left: 3px;
			top: 11px;
		}*/
    position: relative; }
    .cols a.sublink:hover {
      text-decoration: none;
      background: #a95fd0;
      color: #fff;
      border: none; }
  .cols a.thirdlvl {
    /*&::after {
				content: "-";
				font-size: 5px;
				color: #333;
				position: absolute;
				left: 11px;
				top: 4px;
			}*/
    padding: 8px 5px 8px 20px; }

#shoppages.boxtitle {
  display: none; }

.right-col ul.brands li, .left-col ul.brands li {
  width: 100%;
  padding: 0px;
  margin: 0px; }
  .right-col ul.brands li img, .left-col ul.brands li img {
    max-width: 100%; }

#categories a {
  display: none; }

#more_items_base {
  clear: both; }

.right-col a.nspromoitem, .left-col a.nspromoitem {
  display: none;
  background-position: center center;
  width: auto;
  height: 200px;
  margin-bottom: 5px; }

.boxtitle, #descriptiontitle {
  margin: 10px 0px 0px 0px;
  padding: 10px 10px;
  background: #e8b3d9;
  color: #813da5;
  font-family: Karla, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  height: auto;
  border-radius: 0px 0px 0px 0px; }

#categories .boxtitle, #helpful_links, .categories .boxtitle, .categories h2.boxtitle, .pages .boxtitle {
  background: #e8b3d9;
  color: #813da5; }

.boxcontent, .cols .search .searchform {
  padding: 5px;
  background: none;
  background-position: center bottom;
  color: #333;
  font-size: 1.1em;
  border-top: none;
  border-bottom: 0px solid #ddd;
  border-left: 0px solid #ddd;
  border-radius: 0px 0px 0px 0px;
  border-right: 0px solid #ddd; }
  .boxcontent a:hover, .cols .search .searchform a:hover {
    color: #555;
    text-decoration: none; }

.boxcontent a {
  color: #333; }
  .boxcontent a a:hover {
    color: #555;
    text-decoration: none; }

.boxlinks {
  border: none; }

.boxbase {
  display: none; }

.cols .search form input.searchbox, .cols .search #search form input.searchbox {
  padding: 5px;
  height: 30px;
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 5px; }
  .cols .search form input.submitbox, .cols .search #search form input.submitbox {
    background: #196696;
    border-radius: 0px;
    border: none;
    padding: 5px;
    height: 30px;
    width: auto;
    color: #fff;
    font-weight: bold;
    cursor: pointer; }
  .cols .search form input.submitbox:hover, .cols .search #search form input.submitbox:hover {
    background: #606696; }

#showcase, .itemtitle, .item-details {
  display: block; }
  #showcase h3, .itemtitle h3, .item-details h3 {
    color: #a95fd0;
    font-family: Karla, Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin: 10px 0px 20px;
    line-height: 1.3em; }
  #showcase::after, .itemtitle::after, .item-details::after {
    clear: both;
    content: " "; }

.leftarrow, .rightarrow {
  display: none;
  height: 100%;
  top: 0px;
  width: 10%;
  position: absolute;
  z-index: 5;
  padding: 1%;
  cursor: pointer;
  opacity: 0.4; }
  .leftarrow:hover, .rightarrow:hover {
    opacity: 0.7; }
  .leftarrow span, .rightarrow span {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 35px;
    color: #eee;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); }

.leftarrow {
  left: 15px;
  text-align: left; }
  .leftarrow span:before {
    content: "\f0a8";
    font-family: "fontawesome"; }

.rightarrow {
  right: 15px;
  text-align: right; }
  .rightarrow span:before {
    content: "\f0a9";
    font-family: "fontawesome"; }

.g_image:first-child .leftarrow {
  display: none; }

.rightarrow[data-next-image=""], .rightarrow[data-next-image="<!-- missing"] {
  display: none; }

.g_image .thumbimage li {
  border: 1px solid #ccc;
  width: 76px;
  height: 76px;
  margin-bottom: 5px;
  opacity: 1;
  position: relative;
  cursor: pointer;
  color: #fff;
  text-align: center;
  position: relative;
  display: block;
  padding: 1px;
  background: #fff; }
  .g_image .thumbimage li:hover {
    opacity: 0.7; }
  .g_image .thumbimage li img {
    max-width: 72px;
    max-height: 72px;
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

#gallery [type=radio]:checked ~ .thumbimage li {
  border: 1px solid #a95fd0; }

#gallery_outer_1, #gallery_outer_3 {
  position: relative;
  clear: both;
  margin: 0px 0px 20px 0px; }

.g_image [type=radio] {
  display: none; }

.mainimage {
  position: absolute;
  top: 0px;
  margin: 0px 0px 0px 0px;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  animation-name: lightboxout;
  animation-duration: 0.5s; }

@keyframes lightbox {
  from {
    opacity: 0;
    transform: scale(0); }

  to {
    opacity: 1;
    transform: scale(1); } }

@keyframes lightboxout {
  from {
    transform: scale(1.5); }

  to {
    background: rgba(0, 0, 0, 0);
    transform: scale(1); } }

#gallery [type=radio]:checked ~ .thumbimage {
  color: #fff;
  z-index: 1; }

#gallery [type=radio]:checked ~ .mainimage {
  opacity: 1;
  z-index: 2;
  padding: 0px 0px 0px 0px; }

#gallery_outer_1 .g_image[data=""] {
  display: none; }

#gallery [type=checkbox]:checked ~ .mainimage {
  right: 0px;
  z-index: 100;
  background: #fff; }

#gallery [type=checkbox]:checked ~ .mainimage img {
  display: block;
  margin: 0px auto; }

#gallery [type="checkbox"]:checked ~ .mainimage span {
  display: none; }

.mainimagecb {
  display: none; }

#gallery_outer_1, #gallery_outer_1 .mainimage, #gallery_outer_1 #gallery, #gallery_outer_1 .mainimage div {
  height: 484px;
  width: auto; }

#gallery_outer_1 .mainimage {
  left: 112px;
  min-width: 488px; }

#gallery_outer_1 #gallery {
  box-sizing: border-box;
  clear: both;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
  padding: 0px 5px 0px 8px;
  margin: 0px; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #gallery_outer_1 #gallery {
    padding: 0px 0px 0px 15px; } }

@supports (-ms-accelerator:true) {
  #gallery_outer_1 #gallery {
    padding: 0px 0px 0px 10px; } }

#gallery_outer_1 div#gallery::-webkit-scrollbar {
  width: 8px;
  height: 20px; }

#gallery_outer_1 div#gallery::-webkit-scrollbar-button {
  background-color: #ccc; }

#gallery_outer_1 div#gallery::-webkit-scrollbar-track {
  background-color: #ccc; }

#gallery_outer_1 div#gallery::-webkit-scrollbar-track-piece {
  background-color: #ccc; }

#gallery_outer_1 div#gallery::-webkit-scrollbar-thumb {
  height: 90px;
  background-color: #a95fd0;
  border-radius: 3px; }

#gallery_outer_1 div#gallery::-webkit-scrollbar-corner {
  background-color: #f00; }

#gallery_outer_1 div#gallery::-webkit-resizer {
  background-color: #666; }

#gallery_outer_1 .g_image {
  float: Left;
  clear: both; }

#gallery_outer_1 .g_image .thumbimage {
  margin: 0px 0px 5px 0px; }

#gallery_outer_1 .mainimage img {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

#gallery_outer_2 .g_image {
  max-width: 100%;
  height: auto;
  text-align: center;
  padding: 5px 0px; }
  #gallery_outer_2 .g_image img {
    max-width: 100%; }
  #gallery_outer_2 .g_image[data=""] {
    display: none; }

#gallery_outer_3 {
  height: auto;
  width: 100%; }

#gallery_outer_3 .mainimage, #gallery_outer_3 .mainimage div {
  height: 500px;
  width: 100%; }

#gallery_outer_3 #gallery {
  height: auto;
  width: 100%;
  padding-top: 520px; }

#gallery_outer_3 .mainimage {
  left: 0px; }

#gallery_outer_3 #gallery {
  box-sizing: border-box;
  text-align: center; }

#gallery_outer_3 .g_image {
  display: inline-block;
  vertical-align: top;
  height: 76px;
  margin-bottom: 5px; }

#gallery_outer_3 .g_image .thumbimage {
  margin: 10px 3px; }
  #gallery_outer_3 .g_image .thumbimage li {
    margin-right: 3px; }

#gallery_outer_3 .mainimage img {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

#gallery_outer_3 #gallery [type=checkbox]:checked ~ .mainimage, #gallery_outer_1 #gallery [type=checkbox]:checked ~ .mainimage {
  animation-name: lightbox;
  animation-duration: 0.5s;
  padding: 0px;
  position: fixed;
  width: 100vw;
  left: 0px;
  right: 0px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); }
  #gallery_outer_3 #gallery [type=checkbox]:checked ~ .mainimage > div, #gallery_outer_1 #gallery [type=checkbox]:checked ~ .mainimage > div {
    background: #fff;
    position: static;
    position: relative;
    box-sizing: content-box;
    top: 0px;
    max-height: 80vh;
    width: 100%;
    height: auto;
    max-width: 60vw;
    margin: auto;
    margin-top: 10vh;
    padding: 10px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.4);
    border-radius: 6px 6px 0px 0px; }
  #gallery_outer_3 #gallery [type=checkbox]:checked ~ .mainimage > div img, #gallery_outer_1 #gallery [type=checkbox]:checked ~ .mainimage > div img {
    max-height: 80vh;
    transform: none;
    top: auto; }
  #gallery_outer_3 #gallery [type=checkbox]:checked ~ .mainimage > div::after, #gallery_outer_1 #gallery [type=checkbox]:checked ~ .mainimage > div::after {
    background: #fff;
    border-radius: 0px 0px 6px 6px;
    color: #666;
    content: "Click to close";
    font-size: 16px;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }

#gallery_outer_3 .g_image[data=""], #gallery_outer_1 .g_image[data*="<!-- missing"], #gallery_outer_2 .g_image[data*="<!-- missing"], #gallery_outer_3 .g_image[data*="<!-- missing"] {
  display: none; }

.center-col .boxtitle, #descriptiontitle {
  background: #e8b3d9;
  color: #813da5;
  height: auto;
  font-size: 1.3em;
  margin-bottom: 0px !important;
  border-radius: 0px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
  padding: 10px 10px;
  font-family: Karla, Arial, Helvetica, sans-serif; }

#description {
  clear: both;
  margin-bottom: 10px; }
  #description #descriptioncontent {
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    font-size: 1.2em;
    font-family: Karla, Arial, Helvetica, sans-serif;
    border-radius: 0px 0px 0px 0px;
    color: #333; }
  #description #descriptioncontent ul {
    padding-left: 30px;
    margin: 12px 0px; }
  #description #descriptioncontent ul li {
    list-style: outside;
    display: list-item;
    margin: 0px; }
  #description #descriptioncontent a {
    color: #555 !important;
    text-decoration: underline; }
  #description #descriptioncontent img {
    max-width: 100% !important;
    height: auto !important; }
  #description #descriptioncontent table {
    max-width: 100% !important; }
  #description #descriptioncontent .row {
    width: 100%; }

@keyframes tabOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@keyframes tabIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

div#tabs {
  margin: 10px 0px 0px 0px;
  display: block; }
  div#tabs [type=radio] {
    display: none; }
  div#tabs label.mobile_tab {
    display: none; }
  div#tabs label li {
    font-size: 1.3em;
    font-family: Karla, Arial, Helvetica, sans-serif;
    border-radius: 0px 0px 0px 0px;
    display: block;
    float: left;
    cursor: pointer;
    width: 19.8%;
    text-align: center;
    background: #e8b3d9;
    padding: 8px 0px;
    margin-right: 1px;
    transition: all 0.5s;
    font-weight: bold;
    margin-bottom: -2px; }
  div#tabs label li a {
    color: #813da5;
    text-decoration: none; }
  div#tabs [type=radio]:checked + label li, div#tabs label li:hover {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 2px solid #fff; }
  div#tabs [type=radio]:checked + label li a, div#tabs label li:hover a {
    color: #a95fd0; }
  div#tabs #tab-1:checked ~ .content1, div#tabs #tab-2:checked ~ .content2, div#tabs #tab-3:checked ~ .content3, div#tabs #tab-4:checked ~ .content4, div#tabs #tab-5:checked ~ .content5 {
    display: block; }
  div#tabs #tab-1:checked ~ .content1 .tabcontent, div#tabs #tab-2:checked ~ .content2 .tabcontent, div#tabs #tab-3:checked ~ .content3 .tabcontent, div#tabs #tab-4:checked ~ .content4 .tabcontent, div#tabs #tab-5:checked ~ .content5 .tabcontent, div#tabs #tab-1:checked ~ .content1 h4, div#tabs #tab-2:checked ~ .content2 h4, div#tabs #tab-3:checked ~ .content3 h4, div#tabs #tab-4:checked ~ .content4 h4, div#tabs #tab-5:checked ~ .content5 h4 {
    animation-name: tabIn;
    animation-duration: 1.2s; }
  div#tabs .content {
    border-radius: 0px 0px 0px 0px;
    animation-duration: 0.5s;
    clear: both;
    padding: 10px 15px;
    border: 1px solid #ddd;
    background: #fff;
    display: none; }
  div#tabs .content h4.tabtitle {
    display: none; }
  div#tabs .content .tabcontent {
    white-space: normal;
    padding: 0px;
    margin: 0px;
    line-height: 18px;
    font-size: 1.2em;
    display: block;
    font-family: Karla, Arial, Helvetica, sans-serif;
    color: #333; }
  div#tabs .content .tabcontent a {
    color: #555;
    text-decoration: underline; }

div#tabs label li a {
  display: block;
  pointer-events: none;
  /*
#more_items {
	text-indent: -999em;
	position: relative;
}

#more_items::after {
	text-indent: 0;
	content: "ITEMS YOU MAY LIKE";
	position: absolute;
	display: block;
	top: 0px;
}
*/ }

#promobox a.nspromoitem {
  height: auto; }
  #promobox a.nspromoitem .froopromoimg {
    height: 126px; }
  #promobox a.nspromoitem .froopromoimg img.pimg {
    max-width: 134px;
    max-height: 126px; }
  #promobox a.nspromoitem .froopromotitle {
    color: #000;
    height: 54px;
    padding: 5px 0px 0px 0px;
    font-size: 11px;
    line-height: 12px;
    overflow: hidden; }
  #promobox a.nspromoitem .froopromoprice {
    color: #000;
    font-size: 18px;
    font-weight: 700; }

.center-col a.nspromoitem {
  display: none;
  background-position: center center;
  float: left;
  width: 23%;
  margin: 10px;
  margin: 1%;
  height: 200px; }

.center-col .brands li {
  display: block;
  float: left;
  margin: 0;
  overflow: hidden;
  width: 20%;
  padding: 4px 2px; }
  .center-col .brands li:first-child {
    padding-left: 0px; }
  .center-col .brands li:last-child {
    padding-right: 0px; }
  .center-col .brands li img {
    max-width: 100%; }
  .center-col .brands li:last-child::after {
    clear: both; }

#magento_gallery img {
  max-width: 100%; }

.m2e-gallery img {
  max-width: 100%; }

#magento_gallery_thumbs .gallery-column-view .gallery-thumbnail {
  width: 13%; }
  #magento_gallery_thumbs .gallery-thumbnail li {
    border: 1px solid #a95fd0; }
  #magento_gallery_thumbs .gallery-column-view .gallery-image {
    width: 86%; }
  #magento_gallery_thumbs .gallery-column-view .gallery-image img {
    max-width: 100%; }
  #magento_gallery_thumbs .m2e-gallery .preview-container.vertical {
    width: 13%;
    text-align: center; }
  #magento_gallery_thumbs .m2e-gallery .current.vertical {
    width: 86%;
    text-align: center; }

#background font {
  font-size: inherit; }

#background #descriptioncontent font {
  font-size: initial; }

div#footer.footer {
  background: none center top;
  color: #eee;
  font-size: 1.2em;
  height: 135px !important;
  position: relative; }
  div#footer.footer ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
    left: 10px;
    top: 10px; }
  div#footer.footer ul li {
    display: inline-block;
    margin: 0px 10px; }
  div#footer.footer ul li a {
    color: #eee; }
    div#footer.footer ul li a:hover {
      color: #ddd; }
  div#footer.footer img {
    margin: -38px auto 0;
    display: block; }

.footer-wrapper {
  background: none; }

.creditlink-wrapper .creditlink {
  padding-bottom: 3px;
  text-align: right;
  font-family: Arial;
  font-weight: normal;
  font-size: 11px; }
  .creditlink-wrapper .creditlink, .creditlink-wrapper .creditlink a strong, .creditlink-wrapper .creditlink a {
    color: #e8b3d9;
    font-weight: normal;
    text-decoration: none; }
  .creditlink-wrapper .creditlink b, .creditlink-wrapper .creditlink a strong b, .creditlink-wrapper .creditlink a b {
    color: #a95fd0;
    font-weight: bold; }
  .creditlink-wrapper .creditlink, .creditlink-wrapper .creditlink div#design {
    display: block; }

div#design {
  display: block; }

#backup, #ns_copyright, #seo {
  display: none; }

.creditlink a, .creditlink a:link, .creditlink a:visited {
  color: #e8b3d9;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; }
  .creditlink a strong, .creditlink a:link strong, .creditlink a:visited strong {
    color: #a95fd0; }
  .creditlink a:hover, .creditlink a:link:hover, .creditlink a:visited:hover {
    color: #a95fd0;
    text-decoration: none; }

#background #design {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 10px; }
  #background #design div {
    width: 200px;
    margin: auto;
    height: 63px;
    overflow: hidden;
    text-indent: -400px;
    font-size: 0em;
    background-size: 100% auto;
    background-image: url('https://global.frooition.com/freedom/ebay_global/img/global_logo_2x.png'); }

.creditlink {
  font-size: 11px;
  text-align: right;
  margin-bottom: 5px !important;
  width: 1000px;
  margin: auto; }


#dummyrule {
	display:block;	
}

#gallery_outer_3 .mainimage img ,#gallery_outer_1 .mainimage img  {
    display: block;
	margin: 0px auto;
}

#promobox a.nspromoitem { text-align:center; }
#promobox a.nspromoitem img { max-width: 150px; max-height: 200px; }


/* Added 26.10.17 - styling for re-added category classes */
.boxlinks a.catlink {
	width: 100%;
}

.boxlinks a.sublink {
    padding-left: 12px;
	width: 100%;
}

.boxlinks a.thirdlvl {
    font-style: italic;
    padding-left: 15px;
	width: 100%;
}
